:root{
  --text-color: #757575;
  --title-text: #212121;
  --text-accent: #2196F3;
  --white: #ffffff;
  --icon: #AFB1B8;
}

body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 700;
  color: var(--title-text);
  margin: 0;
}

ul,
p{
  margin: 0;
  padding: 0 0;
}

.section{
  padding: 94px 0;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

.header{
  border-bottom: 1px solid #ECECEC;

}

.header > .container{
  display: flex;
  align-items: center;
}

.header-nav{
  display: flex;
  align-items: center;
}

.logo{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text);
  text-decoration: none;
}

.logo span{
  color: var(--text-accent);
}

.link{
  text-decoration: none;
  color: var(--title-text);
  letter-spacing: 0.02em;
  line-height: 1.14;
  font-weight: 500;

  transition-duration: 0.5s;
}

.menu{
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 93px;
}

.menu-item + .menu-item{
  margin-left: 50px;
}

.active{
  color: var(--text-accent);
}

.menu-link{
  display: flex;
  align-items: center;
  padding: 32px 0;
}

.header-adress{
  display: flex;
  margin-left: auto;
}

.icon{
  fill: currentColor;
  margin-right: 10px;
}

.icon-mail{
  width: 16px;
  height: 12px;
}

.icon-phone{
  width: 10px;
  height: 16px;
}

.header-adress > .menu-link{
  color: var(--text-color);
}

.header-adress >.menu-link + .menu-link{
  margin-left: 50px;
}

.link:hover,
.link:focus{
  color: var(--text-accent);
  transition-duration: 0.5s;
}

/* hero */

.hero{
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2F303A;
  text-align: center;
  padding: 200px 0;
}

.hero-title{
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--white);
}

.hero-btn{
  color: var(--white);
  background-color: var(--text-accent);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--text-accent);
  border-radius: 4px;
  transition-duration: 0.7s;
}

.hero-btn:hover,
.hero-btn:focus{
  color: var(--text-accent);
  background-color: var(--white);
  cursor: pointer;

  border: 2px solid var(--text-accent);
  transition-duration: 0.7s;
}

/* benefits */

.benefits{
  padding-bottom: 47px;
}

.benefits-list{
  display: flex;
  align-items: center;
  list-style: none;
}


.benefits-item + .benefits-item{
  margin-left: 30px;
}

.bg-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-icon{
  width: 70px;
  height: 70px;
}

.benefits-title{
  margin-bottom: 10px;

  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
}

.benefits-text{
  color: var(--text-color);
  line-height: 1.71;
}

/* work */

.work{
  padding-top: 47px;
}

.work-title{
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-list{
  display: flex;
  justify-content: space-between;

  list-style: none;
}

/* team */

.team{
  background: #F5F4FA;
}

.team-title{
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list{
  display: flex;
  justify-content: space-between;

  list-style: none;
  line-height: 1.18;
  text-align: center;
}

.team-item{
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-img{
  display: block;
  max-width: 100%;
  height: auto;
}

.team-desc{
  padding: 30px 0;
}

.item-title{
  font-weight: 500;
}

.item-text{
  margin-top: 10px;

  color: var(--text-color);
}

.team-social{
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 16px;
}

.social-item + .social-item{
  margin-left: 10px;
}

.team-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  fill: var(--icon);
  transition-duration: 0.7s;
}

.team-link:hover,
.team-link:focus{
  width: 44px;
  height: 44px;
  background-color: var(--text-accent);
  border-radius: 50%;
  fill: var(--white);
  transition-duration: 0.7s;
}

/* clients */

.clients-title{
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.clients-link{
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon);
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon);
  border-radius: 4px;
  transition-duration: 0.7s;
}

.clients-link:hover,
.clients-link:focus{
  fill: var(--text-accent);
  border-color: var(--text-accent);
}

/* footer */

.footer{
  padding: 60px 0;

  background-color: #2F303A;
  line-height: 1.71;
}

.footer-container{
  display: flex;
}

.footer-contact{
  display: flex;
  flex-direction: column;
}

.footer-logo{
  display: block;
  margin-bottom: 20px;

  color: var(--white);
}

.adress{
  margin-bottom: 9px;
}

.contact:not(:last-child){
  margin-bottom: 9px;
}

.adress{
  color: var(--white);
  font-style: normal;
}

.contact{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-social{
  margin-left: 70px;
}

.social-text{
  margin: 15px 0 20px 0;

  font-size: 14px;
  line-height: 0.87;
  text-transform: uppercase;
  color: var(--white);
}

.footer-list{
  display: flex;
  list-style: none;
}

.footer-item + .footer-item{
  margin-left: 10px;
}

.footer-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-duration: 0.7s;
}

.footer-link:hover,
.footer-link:focus{
  background-color: var(--text-accent);
  transition-duration: 0.7s;
}

/* portfolio */

.portfolio-active{
  color: var(--text-accent);
}

.portfolio-title{
  display: none;
}

.filter,
.filter-list{
  list-style: none;
}

.filter{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  
}

.filter-btn + .filter-btn{
  margin-left: 8px;
}

.filter-btn{
  padding: 6px 22px;
}

.btn{
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.btn:hover,
.btn:focus{
  color: var(--white);
  background-color: var(--text-accent);
  cursor: pointer;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 0.6s;
}

.filter-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.filter-item{
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  border-bottom: 1px solid #EEEEEE;
  transition-duration: 0.6s;

  background: var(--white);
}

.filter-item:hover,
.filter-item:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-link{
  display: block;
  
  text-decoration: none;
}

.filter-title{
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-text{
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}

.filter-cover{
  display: block;
  max-width: 100%;
  height: auto;
}

.filter-desc{
  padding: 20px 24px;
}